
<div class="content_right">  
<style>
.con_right_font .payment {background: none repeat scroll 0 0 #fd3c00;border: 0 none;color: #fff;font-family: "微软雅黑";font-size: 18px; height: 53px;text-align: center;width:180px;float:left;margin-left:120px;margin-top:40px;cursor:pointer}
.password_nr img {text-align: center;width:180px;float:left;margin-left:120px;margin-top:40px;}
.con_right_font{ margin-bottom:20px;}
</style>
    <div class="con_right">
        <div class="con_right_nav" style="padding: 10px 0px 20px 0px; font-weight:bold; font-size:18px;">余额充值</div>
        <div class="con_right_font">
            <div class="password_nr">
                <div class="password_input">
                    <div class="left" style="width:120px;">充值：</div>
                    <div class="lef" style="line-height:30px; font-size:18px;">&yen;{:round($money/100,2)} 元</div>
                </div>
                <div class="password_input">
                    <div class="left" style="width:120px;"><p>需要支付金额：</p></div>
                    <div class="lef" style="line-height:30px; color:#f12000; font-size:18px;">&yen;{:round($money/100,2)} 元</div>
                </div>
                {$button}
            </div>
        </div>
    </div>
</div>


{if condition= "$paytype[$logs['code']]['code'] == native"}
	<script>
      $(document).ready(function(){
        function Testing(){
           var log_id = '{$log_id}';
           $.post('{:url("Home/payment/check")}',{log_id:log_id},function(result){
               if(result.status == 'success') {
                   layer.msg(result.msg);
                   window.location.href = "{:url('Member/index/index')}";
                }else{
                   layer.msg(result.msg);
                }
            },'json');
        }
        var timer = 0; 
        var intervalKey = null; 
        function showColumns() {
            timer++; 
            if (timer >= 5) { 
                clearInterval(intervalKey);
                intervalKey = null;
            }
            Testing()
        }
        intervalKey = setInterval(showColumns, 10000);
        })
    </script>
{/if}

 

