{include file="public:base"/}
<div class="m_c">

    <form action="{:url('money/moneypay')}" method="post" id="ajaxForm">
    
        <div class="c">
            <table cellspacing="0" cellpadding="0" class="tfm">
            
                <tbody>
                <tr>
                    <th><span class="rq" title="必填">*</span>充值说明</th>
                    <td>
                    
                      {if condition="!empty($CONFIG[cash][is_recharge])"}
                       {if condition="!empty($CONFIG[cash][recharge_full_1]) && !empty($CONFIG[cash][recharge_give_1]) && ($CONFIG[cash][recharge_full_1] GT $CONFIG[cash][recharge_give_1])"}
                       单笔充值满：<a style="color:#F00">&yen;{$CONFIG[cash][recharge_full_1]} </a> 元,送：{$CONFIG[cash][recharge_give_1]} 元
                       {/if}
                       &nbsp;&nbsp;&nbsp;&nbsp;
                       {if condition="!empty($CONFIG[cash][recharge_full_2]) && !empty($CONFIG[cash][recharge_give_2]) && ($CONFIG[cash][recharge_full_2] GT $CONFIG[cash][recharge_give_2])"}
                       单笔充值满：<a style="color:#F00">&yen;{$CONFIG[cash][recharge_full_2]} </a> 元,送：{$CONFIG[cash][recharge_give_2]} 元
                       {/if}
                       &nbsp;&nbsp;&nbsp;&nbsp;
                       {if condition="!empty($CONFIG[cash][recharge_full_3]) && !empty($CONFIG[cash][recharge_give_3]) && ($CONFIG[cash][recharge_full_3] GT $CONFIG[cash][recharge_give_3])"}
                      单笔充值满：<a style="color:#F00">&yen;{$CONFIG[cash][recharge_full_3]} </a> 元,送：{$CONFIG[cash][recharge_give_3]} 元
                       {/if}
                   {/if}
                    </td>
                </tr>
                <tr>
                    <th><span class="rq" title="必填">*</span>输入金额</th>
                    <td><input type="text" name="money" id="money" class="px"></td>
                </tr>
                <tr>
                    <th><span class="rq" title="必填">*</span>选择支付方式</th>
                    <td>
                    
                    {foreach name="payment" item="var"}
							{eq name="var.is_open" value="1"}
								{if condition="$var['code'] neq 'money' and  $var['code'] neq 'weixin'"}
									<dd>
										<label><em>
											<input class="pay_int" value="{$var.code}" name="code" type="radio" />
											</em><img src="__PUBLIC__/home/images/goods/{$var.logo}" /></label>
									</dd>
								{/if}
							{/eq}
						{/foreach}
                    
                    
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p class="o pns">
        <span class="z">请选择支付方式后提交充值</span>
        <button type="submit" name="pwdsubmit" value="true" class="pn pnc"><strong>提交充值</strong></button>
        </p>
    </form>
</div>